@media(max-width:1350px){/*--------------------------------------------------- 1350 ---------*/
    .Main_list { left:3%; }
    .text_1{ left:45%; }/*gucci*/
    .sumkaBlock img{
        left:32%;
    }
}

/*----------------------------------------------------------------------------- 1280 ---------*/
@media(max-width:1280px){
    .slide_3 p{
        font-size: 12px;
        width:280px;
	height:90px;
      }
    
    p[name="text_musor"]{
    	height:120px;

    }    
    p[name="text_dodiki"]{
        width:325px;
        height:100px;
        left: -5%;
    }
    #foto_dodiki{
        left:-5%;
    }


.cont_list4 {
    left:-480px;	
}
.Slider {
	width:100%;
	height:745px;
	overflow:hidden;
}

.slide_1 p {  /*текст кнопки парфюм*/
     border-left:4px solid red; 
    height:120px;
    left:7%;
    top:500px;
    font-size:30px;
}
    .btn_Parf2{
        top:600px;
        width:180px;
        height:38px;
    }
    .prev_M, .next_M {
        top:350px;
        font-size:50px;
    }
    .slide_2 p{
         height:220px;
         width:650px;
        top:200px;
        left:58%;
        font-size:48px;
    } 
/*-------------------------------------*/  
    .video_Pokaz p {
        left:20%;
        height:150px;
        font-size:49px;
        width: 800px;
    }
 
}


/*--------------------------------------------------------------------------- 1230 --------------*/
@media(max-width:1230px){
    #foto_musor, #foto_students{
        width:45%;
	height:220px;
    }
    #foto_gagaL{
        height:300px;

    }
    #foto_dodiki{
        width:90%;
    }
    p[name="text_musor"], p[name="text_studen"]{
    left: 47%;
    }
/*---------------------------------*/



.Main_list { left:1%; }
.text_1{ left:43%; }/*gucci*/
.cont_list4 {
    left:-430px;	
}
/*---------------------------------*/
.sumkaBlock img{
    left:29%;
}
.btn_safari{
    left:38%;
}

.krugSumka{
    left:70%;
    top:60px;
    width:280px;
    height:280px;
}
.krugSumka p{
    margin:50px 50px;
    font-size:17px;
}
/*---------------------------------*/
#anton{  
    width:40%;
    height:680px;
}   
.block_text{ 
    left:52%;
    font-size:17px;
width: 450px;

}
.block_text span[name="prezent"]{
    font-size:20px;
}
.bl_sumka_anton {
    left:49%;
}
.Block_4_Anton{
	height: 700px;
}
}
    




/*--------------------------------------------------------------------- 1120 --------------*/
@media(max-width:1120px){


/*--------------------------------------*/
.video_Pokaz p {
    top: -500px;
    left:22%;
     height:150px;
    font-size:46px;
    width: 700px;
}
/*--------------------------------------*/
.bl_sumka_anton {
    left:45%;
    height:300px;
}
}


/*------------------------------------------------------------------------ 1100 ---------------*/
@media(max-width:1100px){
    .slide_3 p{
        font-size: 11px;
        width:280px;
	height:80px;
    }
    p[name="text_dodiki"]{
        top: 120px;
        height:110px;
    }
    #foto_dodiki{
        top: -50px;
    }
    p[name="text_musor"]{
        height:100px;
    }
    #foto_gagaL{
        height:250px;
    
    }


   .Slider {
    top: -5%;
    height:670px;
}

.slide_1 p {  /*текст кнопки парфюм*/
    border-left:3px solid red; 
    height:120px;
   left:10%;
   top:450px;
   font-size:27px;
}
.btn_Parf2{
   top:550px;
   left:12%;
   width:180px;
   height:38px;
}

.slide_2 p{
    height:220px;
    width:600px;
   top:250px;
   left:57%;
   font-size:43px;
}

.btn_55{
   left:65%;
   top:440px;
   width:170px;
   height:35px;	
   font-size:15px;
}
.prev_M, .next_M {
    top:300px;
    font-size:47px;
}

.Main_list {
    left:-2%;
}
.list_1, .list_2, .list_3, .list_4, .history{
    font-size:16px;
}
.text_1{ /*gucci*/
    left:40%;
}

.sumkaBlock img{
    left:28%;
}
.btn_safari{
    left:38%;
}
/*--------------------------------------*/
.video_Pokaz p {
    width: 600px;
    font-size:40px;
}
/*--------------------------------------*/
.bl_sumka_anton  {
    left:43%;
    height:300px;
}
}


/*---------------------------------------------------------------------------- 1030 ------------*/
@media(max-width:1030px){
  #foto_musor, #foto_students, #foto_gagaL{
        top: 30px;
    }
    .slide_3 p{
        top: 30px;
        font-size: 10px;
        width:220px;
     }
    p[name="text_dodiki"]{
        top: 100px;
    }
    p[name="text_gaga"]{
        height: 100px;
    }



.Main_list, .btn_2 {
    display: none;
}
    #btn_menu{
        display: block;
    }
    .poiskovik input{
        left:70%;
    }
/*---------------------------------*/
.sumkaBlock img{
    left:26%;
}
/*---------------------------------*/
#bl_foto_1, #bl_foto_2, #bl_foto_men, #women{
    height: 400px;
}

.Block_6_Footer{
    top: 50px;
}
.cont_53_logo{
left: 78%;
}
}


/*------------------------------------------------------------------------ 950 ---------*/
@media(max-width:950px){
.cont_51_Map, .cont_52_link, .block_text p, #anton, .block_text, .block_text span[name="prezent"] { 
    display: none;
}

.Slider {
    top: -10%;
    height:650px;
}

.slide_1 p {  /*текст кнопки парфюм*/
    border-left:2px solid red; 
    height:120px;
    left:10%;
    top:400px;
    font-size:25px;
}
.btn_Parf2{
       top:500px;
       left:12%;
       width:150px;
       height:33px;
    }
    .prev_M, .next_M {
        top:280px;
        font-size:44px;
    }
    .slide_2 p{
        height:220px;
        width:400px;
       top:300px;
       left:58%;
       font-size:30px;
    }
.btn_55{
       left:64%;
       top:440px;
}

.sumkaBlock img{
    left:22%;
}
.btn_safari{
    left:33%;
}
.sumkaBlock span{
    left:23%;
}
.krugSumka{
    left:65%;
    width:270px;
    height:270px;
}
.krugSumka p{
    font-size:16px;
}
/*----------------------------------*/
.video_Pokaz p {
    top: -400px;
    left: 20%;
    width: 570px;
    font-size:35px;
}
/*---------------------------------*/
.bl_sumka_anton {
    top: 100px;
    left:30%;
    width: 450px;
}
.text_sum_Anton{
	display: block;
}
.bl_sumka_anton img {
    width: 90%;
    height: 300px;
}
.btnAnt{
    left: 13%;
}
/*---------------------------------*/
.menuBlock_DOP{
    display: block;
    left: 42%;
}
.cont_7_adres{
    top:-130px;
    left: 10%;
}
.cont_53_logo{
    top:70px;
left: 70%;
}
.cont_6_polit {
    top:125px;
    left: 31%;
}

.Main{
	height: 3600px;
}
.Block_1_Header{
	height: 650px;
}
.Block_2_Safari{
	height: 700px;
}
.Block_3_Pokaz{
    height:600px;
}

.video_Pokaz video{
	width:100%;
    height:600px;
}
.Block_4_Anton{
	height: 650px;
}
.Block_5_FotoLink{
	height: 760px;
}
.Block_6_Footer{
    top: 50px;
}


}




/*-------------------------------------------------------------------- 890px -----------*/
@media(max-width:890px){
.text_1{ /*gucci*/
    font-size: 45px;
    top: 5px;
}
.poiskovik input{
    left:25%;
    top:55px;
    height:35px;
    width:400px;
}
.Slider {
    top: -13%;
}

/*---------------------------------*/
.sumkaBlock img{
    left:20%;
}
/*---------------------------------*/
.bl_sumka_anton {
    left:30%;
}
}



/*---------------------------------------------------------------------- 800px ----------*/
@media(max-width:800px){
.text_1, .slide_1 p, p[name="sumkaName"], .sumkaBlock{
     display: none;
}
#foto_musor, #foto_students, #foto_gagaL{
    top: 20px;
    height:150px;
}
.slide_3 p{
    top: 30px;
    font-size: 8px;
    width:190px;
    height: 80px;

 }
p[name="text_dodiki"]{
    top: 100px;
}
p[name="text_gaga"]{
    height: 60px;
}
.Slider {
    height:620px;
}
.slide_1 video{
	top: -140px;
}
.btn_Parf2{
    top:400px;
    left:16%;
    width:230px;
    height:40px;
 }
 .slide_1 span {
	display: block;
	 border:none;
     font-size:45px;
     left:11%;
	top:250px;
}
 .prev_M, .next_M {
    font-size:40px;
}

.slide_2 img {
    left: 13%;
    width: 200%;
    height: 570px;
}
.slide_3 img{
	left:74%;
}
.slide_2 p{
    width:350px;
   left:58%;
   font-size:25px;
}
.btn_55{
   left:64%;
   top:410px;
   width:150px;
   height:34px;	
   font-size:14px;
}
.poiskovik input{
    left:25%;
    top:25px;
    width:46%;
}

/*--------------------------*/
#foto_safari_DOP{
    display: block;
}
.safari_text{
    display: block;
}
.safari_text img{
    position: relative;
    top: -10px;
}
/*---------------------------------*/
.video_Pokaz p {
    top:-300px;
    width: 500px;
    font-size:30px;
}
/*----------------------------------*/
.bl_sumka_anton  {
   top: 70px;
}
.bl_sumka_anton img {
    width: 70%;
    height: 200px;
}
.btnAnt{
    top: 35px;
    left: 7%;
}
.text_sum_Anton{
    top: -270px;
    font-size: 26px;
    width: 370px;
}
.text_sum_Anton p{
    font-size: 20px;
}

.Main{
	height: 2900px;
}
.Block_1_Header{
	height: 650px;
}
.Block_2_Safari{
	height: 450px;
}
.Block_3_Pokaz{
    height:450px;
}
.video_Pokaz video{
	width:100%;
    height:450px;
}
.Block_4_Anton{
	height: 650px;
}
.Block_5_FotoLink{
	height: 760px;
}
.Block_6_Footer{
    top: 50px;
}

}



/*------------------------------------------------------------------ 780px --------------*/
@media(max-width:780px){

/*---------------------------------*/
.video_Pokaz p {
left: 20%;
}
/*---------------------------------*/

.blokFoto_DOP{
	display: flex;
    top:0px;
}
.Block_6_Footer{
    top: 500px;
}

#bl_foto_1, #bl_foto_2, #bl_foto_men, #women{
    height: 250px;
}
.blokFoto_1, .blokFoto_2{
    display: none;
}



}



/*------------------------------------------------------------------ 750px --------------*/
@media(max-width:750px){

.Slider {
    top: -18%;
}
.slide_2 p{
    width:300px;
   left:58%;
   font-size:23px;
}

/*----------------------------------*/
.safari_text{
	left:12%;
	top:-380px;
	font-size: 35px;
    width: 550px;

}
.btn_safari_DOP{
	left:35%;
	top:30px;
	font-size:18px;
	width:180px;
}
/*---------------------------------*/
.text_sum_Anton{
    font-size: 26px;
    width: 340px;

}
.text_sum_Anton p{
    font-size: 20px;
}
/*---------------------------------*/
.menuBlock_DOP{
    left: 38%;
	font-size: 17px;
}
.cont_53_logo img{ 
    width: 190px;
    height: 180px;
}
.cont_7_adres{
	font-size: 17px;
}

.Main{
	height: 2750px;
}

.Block_6_Footer{
    top: 630px;
}
.cont_6_polit {
    left: 24%;
}
}





/*-------------------------------------------------------------------- 665px --------*/
@media(max-width:665px){

.Slider {
   top: -21%;
}
.prev_M, .next_M {
    font-size:35px;
}
.slide_2 img {
    left: 12%;
    width: 206%;
    height: 548px;
}
.slide_3 img{
	left:74%;
}



/*----------------------------------*/
.safari_text{
	left:15%;
    width: 500px;

}
.btn_safari_DOP{
	left:35%;
}
/*----------------------------------*/

.text_sum_Anton{
    left: 38%;
    font-size: 23px;
}
.text_sum_Anton p{
    font-size: 17px;
}
.bl_sumka_anton  {
    top: 80px;
    width: 350px;
 }
 .bl_sumka_anton img {
    width: 77%;
    height: 200px;
}
.btnAnt{
    top: 30px;
    left: 9%;
    width:150px;
	height:35px;
}
/*----------------------------------*/
.Block_4_Anton{
	height: 500px;
}
/*----------------------------------*/
.video_Pokaz p {
    top: -220px;
    left: 15%;
    width: 450px;
    height: 80px;
    font-size:25px;
}
.Block_3_Pokaz{
    height:350px;
}
.video_Pokaz video{
	width:100%;
    height:350px;
}
.Main{
	height: 2400px;
}

.Block_6_Footer{
    top: 830px;
}

}



/*-------------------------------------------------------------------- 665px --------*/
@media(max-width:635px){
.Slider, .prev_M, .next_M{
    display: none;   
}
.Slider_List_DOP{
	display: block;
}
#strela{
	position:absolute;
   left:46%;
   top:450px;
}
@keyframes strelaDown {
    from{  top:550px;  }
    to{ top:600px;  }
}


.safari_text{
	left:10%;
}


.Main{
	height: 3100px;
}
.Block_1_Header{
	background-image: linear-gradient(180deg, #D3CFCF, #D3CFCF);

}
.Block_4_Anton{
	height: 380px;

}
.Block_6_Footer{
    top: 250px;

}
}


/*------------------------------------------------------------------------ 600px -------*/
@media(max-width:600px){ 
.btn_safari_DOP{
	left:33%;
}

.Slider_List_DOP{
    left:12%;
}

/*----------------------------------*/
.video_Pokaz p {
    left: 20%;
    width: 300px;
    height: 80px;
    font-size:20px;
}

/*----------------------------------*/
.menuBlock_DOP{
    left: 32%;
	font-size: 17px;
}
.cont_53_logo img{ 
    width: 140px;
    height: 130px;
}
.cont_7_adres{
	font-size: 17px;
	left:5%;
}
.cont_6_polit {
    left: 15%;
}
}


@media(max-width:530px){/*--------------------------------- 530px ----*/

    .Slider_List_DOP{
        left:9%;
    }
    .bl_sumka_anton  {
left: 25%;
}

.safari_text{
	left:0%;
}
.text_sum_Anton{
    left:25%;
}

.Block_3_Pokaz{
    height:300px;
}
.video_Pokaz video{
	width:100%;
    height:300px;
}

.cont_6_polit {
    left: 10%;
}

}



