/*------------------------------ боковое меню -------*/
.nav_menu_Main{
	display: none;
	position:absolute;
	left:0;
	top:0;
	height:765px;
	width:300px;
	background-image: linear-gradient(120deg, rgb(211, 208, 208),rgb(87, 86, 86));
	z-index: 50;
}

#btn_menu_close{
	position:absolute;
	left:235px;
	top:10px;
	cursor: pointer;
}
.list_menu{
	position:absolute;
	left:50px;
	top:150px;
	height:300px;
	width:200px;
	border-left: 2px solid red;
	padding: 10px;
}
#logo_gucci{
	position: absolute;
	left:20px;
	top:-150px;
}
.gucci_detali{
	position: absolute;
	left:0px;
	bottom:-220px;
	width: 200px;
}
.list_menu ul a li{
	color: black;
	font-size: 20px;
	margin-top: 18px;
}
#btn_menu{
	display: none;
	position:absolute;
	left:30px;
	top:30px;
	border: 1px solid;
	z-index: 49;
	background: rgba(255, 255, 255, 0.1);
	cursor: pointer;
	border: none;
}




/*------------------------------------------------------------------------------ header ----*/
.hedar{  
	display:flex;
	position:absolute;
	width:100%;
	height:100px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
	z-index:10;
	font-size:18px;
}
.hedar:hover{
background: rgba(0, 0, 0, 1);
}


.text_1{ /*gucci*/
	position:absolute;
	left:50%;
	top:10px;
	z-index:9;
	cursor:default;	
	font-size:50px;
	font-weight:bold;
	color:#FFD700;
}


/*---------------------------------------------------------------------------- search ------*/
.poiskovik input{
	position:absolute;
	left:75%;
	top:15px;
	border-radius:40px;
	height:25px;
	width:150px;
	padding-left:10px;
}



.korzina {
	position:absolute;
	right:3%;
	top:-20px;
	width:130px;
	height:100px;
	background-image:url('../media/korzina.png');
	background-size:230px 150px;
	background-repeat:no-repeat;
	z-index:10;
} #i_Number{ 
	position:relative;
	left:70px;
	top:70px;
	width:25px;
	height:25px;
	border-radius:50%;
	background-color:red;
	border:none;
	color:white;
}


/*--------------------------------------------------------------------------- ----*/
.Main_list {
	display: flex;
	justify-content: space-around;
	font-size: 16px;
	color: white;
	position:absolute;
	top:80px;
	left:10%;
	width:80%;
	height: 30px;
	cursor: pointer;
}

.history a p{
color:white;
width:130px;
}

.list_1 p:hover{
	color:#FFD700;
}
.list_2 p:hover, .list_3 p:hover, .list_4 p:hover {
	color:#B22222;
}
.cont_list1, .cont_list2, .cont_list3, .cont_list4{
	display: none;
	position:absolute;
	font-family:"CLEANVEL";
	top:20px;
	left:4%;
	width:72%;
	height:300px;
	border:2px solid #B22222;
	background: rgba(255, 255, 255, 0.9);
	z-index:30;
}
.cont_list1 ul li a, .cont_list2 ul li a, .cont_list3 ul li a, .cont_list4 ul li a {
	color:black;
	font-size:24px;
}
.cont_list1 ul li a:hover, .cont_list2 ul li a:hover, .cont_list3 ul li a:hover, .cont_list4 ul li a:hover {
	color:gray;
	font-size:23px;
}
.cont_list1 ul li, .cont_list2 ul li, .cont_list3 ul li, .cont_list4 ul li{
margin:30px 150%;
width: 200px;
}
.list_1:hover .cont_list1, .list_2:hover .cont_list2, .list_3:hover .cont_list3, .list_4:hover .cont_list4 {
	display:flex;
}

