
.kontainer_2{
	display:flex;
}

.block_2_2, .block_2_4, .block_2_6, .block_2_12, .block_2_5_1{ 
	position:absolute;
 	z-index:1;
	padding:5px;
	font-size:18px;
}

.element_2{  /*холст*/
	position:absolute;

	left:0px;
	top:800px;

	width:99.6%;
	height:1075px;
background-image:linear-gradient(35deg,white,#D3D3D3);
}

.block_text_2 {
	position:absolute;

	left:100px;
	top:360px;
		font-size:25px;

}
.block_text_2 p{
			font-size:20px;

}



/*----- гуччи сейчас -----*/
.element_2_2{
	position:absolute;
	left:0px;
	top:2100px;

	width:99.6%;
	height:800px;
}





.text_3, .text_3_1, .text_4, .text_5{
border-left:7px solid green ;
		border-right:7px solid red ;
	position:absolute;
	z-index:5;
	left:570px;
	font-size:40px;
	font-weight:bold;
}

.text_3{
	
	top:10px;
}
.text_3_1{
		
	top:2040px;
		left:600px;

}






/*-----------*/
.block_Marko{
	position:absolute;
	left:200px;
	top:250px;
border:3px solid red;
	width:550px;
	height:250px;
	border-radius:20px;
	z-index:4;
}
.block_Marko p{
	position:absolute;
	left:10px;
	top:100px;
	font-size:18px;
		font-weight:bold;

}
.block_Marko span{
	position:absolute;
	left:100px;
	top:30px;
	font-size:20px;
		font-weight:bold;
}
.block_Marko span[name="r"]{
	position:absolute;
	left:100px;
	top:55px;
	font-size:17px;
}



.block_Marko img{
		position:absolute;
border:2px solid #0000CD;

	left:370px;
	top:-110px;
z-index:5;
	width:200px;
	height:200px;
	border-radius:50%;
}








.block_2_1 img{
	position:absolute;
	left:70px;
	top:100px;

	width:250px;
	height:250px;
	border-radius:50%;
}

.block_2_2{
	left:370px;
	top:100px;
	border-left:5px solid red;

	width:900px;
	height:80px;
}
/*-------------------------------------------------*/
.block_2_3 img{
	position:absolute;
	border-radius:20px;

	left:470px;
	top:230px;

	width:250px;
	height:380px;
}

.block_2_4{
	top:450px;
	left:200px;
	border-bottom:5px solid red;

	width:250px;
	height:180px;
}

.block_2_5 img{
	position:absolute;
	left:750px;
	top:670px;
border-radius:20px;

	width:600px;
	height:350px;
}
.block_2_5_1{
	position:absolute;
	left:310px;
	top:880px;
	width:415px;
	height:110px;
		border-bottom:5px solid green;

	
}


.block_2_6{
	left:800px;
	top:230px;
	border-left:5px solid green;

	width:250px;
	height:250px;
}

.block_2_7 img{
	position:absolute;
	left:1070px;
	top:230px;
border-radius:20px;

	width:420px;
	height:350px;
}


