@import 'list.css';
@import 'support.css';



/*----------------------------------------- 1 ЧАСТЬ ----------------------------------------------------------*/


.kontainer_1{
	display:flex;
}

.element_1{  /*холст*/
	position:absolute;
	left:0px;
	top:0px;

	width:1525px;
	height:700px;

	z-index:1;
}

.hedar{  
	display:flex;
	position:absolute;
	left:0px;
	top:0px;

	width:1525px;
	height:100px;
	background-color:black;
	z-index:10;
	opacity:0.5;	
	font-size:18px;
}
.hedar:hover{
		opacity:1;	

}
.Main_list div p:hover .hedar{
		opacity:1;	

}


.text_1{ /*gucci*/
	position:absolute;
	left:670px;
	top:10px;
	z-index:9;
		cursor:default;

	
	font-size:50px;
	font-weight:bold;
	color:#FFD700;
}






/*---- подержка клиентов --------*/
.fon{
	display:none;
	position:fixed;
	left:0px;
	top:0px;

	width:1517px;
	height:8000px;
	z-index:5;
	background-color:black;
	opacity:0.8;
}
.btn_2 {  
	position:absolute;
	left:10px;
	top:10px;
	border:none;
	font-size:14px;
	z-index:5;
		color:white;

}

.back{
	position:absolute;
	left:-120px;
	top:-50px;
	z-index:10;
}


.modSupport p[name="about"]{
	position:absolute;
	left:270px;
	top:10px;

	width:500px;
font-size:25px;
font-weight:bold;
}

.modSupport{
	display:none;
	position:absolute;
	left:300px;
	top:100px;

	width:850px;
	height:450px;
	z-index:15;
	background-color:#2F4F4F;
	border-radius:30px;
	border:5px solid #DC143C;
	padding:50px;
}
#bdj{
	position:absolute;
	left:550px;
	top:65px;
	z-index:15;	
	border:4px solid #006400;
}

.modSupport form{
	position:absolute;
	left:20px;
	top:100px;
	z-index:15;
}


textarea{
	width:400px;
	height:150px;
}








.text_korz{ /*gucci*/
	position:absolute;
	left:550px;
	top:10px;
	z-index:9;
	cursor:default;

	
	font-size:40px;
	font-weight:bold;
	color:#FFD700;
}

span[name='word']{
	font-size:50px;
	color:white;
}


.Main_Korz{
	position:absolute;
	left:70px;
	top:150px;
	
	width:1350px;
	height:750px;
	background-color:white;
	border:3px solid;

	z-index:5;
}


.kontain_Korz{
	display:flex;
}

.elem_Korz{  /*холст*/
	position:absolute;
	left:0px;
	top:1000px;

	width:100.5%;
	height:300px;
	z-index:1;
	background-color:#708090;
}
