.Slider {
	width:100%;
	height:745px;
	overflow:hidden;
}
.slide_line {
	display:flex;
	position:relative;
	left:0;
	width:220%;
	height:850px;
	transition: left 1s;
	z-index: 1;
}


.slide_1 video{
	position:relative;
	top: -100px;
	left:-1%;
	width:122%;
	height:900px;
}
.slide_2 img{
	position:relative;
	left:21%;
	width:163%;
	height:750px;
}

.slide_3 img{
	position:relative;
	left:72%;
	width:140%;
	height:865px;
	z-index: 1;
}


.slide_1 p, .slide_1 span {
	position:absolute;
	 border-left:5px solid red; 
	 height:150px;
	left:7%;
	top:500px;
	color:white;
	font-size:35px;
	padding:5px;
	font-family:'beer money';
	z-index:3;
}
.slide_1 span {
	display: none;
    border:none; 
}


.btn_Parf2, .btn_55{
	color:white;
	border:1px solid white;
	background: rgba(255, 255, 255, 0.3);
	width:200px;
	height:40px;	
	z-index:5;
	box-sizing:border-box;
	transition: background-color 1s;
	cursor: pointer;
}
.btn_Parf2{
	position:absolute;
	left:10%;
	top:630px;
}
.btn_Parf2:hover{
	color:black;
	background-color:white;
}

.btn_55{
	position:absolute;
	left:66%;
	top:410px;
}
.btn_55:hover{
	color:black;
	background-color:white;
}
/*----------------------------------------------------------------------------------------------*/




.slide_2 p{
	position:absolute;
	 height:220px;
	 width:700px;
	top:200px;
	left:58%;
	font-size:50px;
	font-weight: bold;
	padding:5px;
	font-family:"CLEANVEL";
	z-index:3;
	text-align:center;
	color:white;
}





.slide_3 p{
	position:absolute;
	top: 0px;
	left:52%;
	width:330px;
	height:90px;
}
.slide_3 p a{
	inherits: none;
	line-height: 60px;
}

.students, .musor{
	position:absolute;
	left:91%;
	width:23%;
	height:265px;
	z-index: 12;
}.students{
	top: 100px;
}.musor{
	top: 380px;
}
.gagaL{
	position:absolute;
	top: 100px;
	left:115%;
	width:20%;
	height:400px;
	z-index: 12;
}
.dodiki{
	position:absolute;
	top: 400px;
	left:124%;
	width:12%;
	height:305px;
	z-index: 12;
}

p[name="text_dodiki"]{
	position:absolute;
	top: 140px;
	left: 2%;
	width:350px;
	height:120px;
	border-bottom: 5px solid green;
	font-family:'Intro';
	font-size: 13px;
}
p[name="text_gaga"]{
	position:absolute;
	top: 10px;
	left: 38%;
	width:350px;
	height:100px;
	border-bottom: 5px solid red;
	font-family:'Intro';
	font-size: 13px;
}
p[name="text_musor"]{
	border-bottom: 5px solid red;
	font-family:'Intro';
	font-size: 13px;
	height:110px;
}
p[name="text_studen"]{
	border-bottom: 5px solid green;
	font-family:'Intro';
	font-size: 13px;
}

#foto_musor, #foto_students{
	position:absolute;
	top: 0px;
	left:0%;
	width:50%;
	height:270px;
	border-radius: 10px;
}
#foto_gagaL{
	position:absolute;
	top: 0px;
	left:0%;
	width:35%;
	height:400px;
	border-radius: 10px;
}
#foto_dodiki{
	position:absolute;
	top: -20px;
	left:0%;
	width:100%;
	height:150px;
	border-radius: 10px;
}


.prev_M, .next_M {
	position:absolute;
	top:400px;
	color:white;
	text-shadow: 1px 1px 1px black;
	font-size:50px;
	cursor:pointer;
	z-index:2;
}.prev_M {
	left:8%;
}.next_M {
	left:90%;
}



/*---------------------------------- DOP Block -------------------------------*/
.Slider_List_DOP{
	display: none;
	position:absolute;
	top:120px;
	left:16%;
	width:420px;
	height:500px;
}
.Slider_List_DOP p{
	margin-top: 35px;
	padding: 25px 100px;
	border: 1px solid;
	border-left: 4px solid red;
	text-align: center;
	font-family:'Intro';
	transition: background 1s;
	cursor: pointer;
}
.Slider_List_DOP p:hover{
	background-color: white;
	border-left: 4px solid green;
}
.Slider_List_DOP p img{
	margin:1px 250px;
}




