@import 'support.css';
@import 'hedar.css';
@import 'history.css';

@import 'slideMain.css'; 
@import 'slideNow.css'; 
@import 'slidePok.css'; 


@import 'vitrina.css';
@import 'footer.css';

*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
}
@font-face{
	font-family:"Lugatype";
	src:url('../fonts/Lugatype.otf');
}

@font-face{
	font-family:'Intro';
	src:url('../fonts/Intro.otf');
}
@font-face{
	font-family:'beer money';
	src:url('../fonts/beer money.ttf');
}





/*----------------------------------------- 1 ЧАСТЬ ----------------------------------------------------------*/

.kontainer_1{
	display:flex;
}

.element_1{  /*холст*/
	position:absolute;
	left:0px;
	top:0px;

	width:1525px;
	height:700px;

	z-index:1;
}



 .strela{
	 position:absolute;
	left:725px;
	top:650px;
	z-index:10;
	animation-name:strelaDown;
	animation-duration:2s;
	animation-iteration-count:1121;
 }
 @keyframes strelaDown {
from{
	top:650px;
	 }
to{
	top:725px;
	 }
 }
 
 
/*----------------------------------------------------------------------------------------------------------*/






/*-------------------------------------   2 ЧАСТЬ / История Гуччи ------------------------------------------*/




/*---------------------------------------------------------------------------------------------------------*/











/*-------------------------------------   3 ЧАСТЬ / Показ   -----------------------------------------------*/


.kont_Pokaz {
	position:absolute;
	left:0px;
	top:3000px;
width:99.9%;
	height:800px;
}
/*---------------------------------------------------------------------------------------------------------*/










/*----------------------------------------- 4 ЧАСТЬ / Антонио Гуччи ----------------------------------------------------------*/

.kontainer_3{
	display:flex;
}

.element_3{  /*холст*/
	position:absolute;
	left:0px;
	top:3950px;

	width:99.9%;
	height:1100px;
	z-index:1;
	background-image:linear-gradient(35deg,#F0E68C,#E6E6FA);

}
.text_4{
	left:400px;
	top:20px;
	font-family:'Intro';
}






.block_3_1 {  /*------- Большая фотка ------*/
	position:absolute;
	left:20px;
	top:0px;
}
.block_3_1 img{
	position:absolute;
	top:120px;

	width:550px;
	height:850px;
	border-radius:15px;
}
.block_3_1 span[name='about']{	
	position:relative;
	left:50px;
	top:1000px;
	font-size:17px;

	width:580px;
	height:200px;
	z-index:2;
}
span[name='about2']{
	font-size:17px;
	font-family:'Intro';
}





.block_3_2{ /*----- фотка и цитата Антонио -------*/

	position:absolute;
	left:900px;
	top:240px;

	width:500px;
	height:220px;
	border-radius:15px;
	background-color:#E0FFFF;
	padding:10px;
	font-size:18px;
	font-family:'Intro';
	
	z-index:2;
}
.block_3_2 img{
position:absolute;
	left:320px;
	top:-90px;

	width:200px;
	height:200px;
	border-radius:50%;
	border:6px solid #E0FFFF;
	z-index:8;
}
span[name='about']{
	position:absolute;
	left:250px;
	top:200px;

	width:380px;
	height:50px;
	font-size:17px;
	font-family:'beer money';

	z-index:3;
}








.block_3_3 {
	position:absolute;
	left:20px;
	top:70px;
}
.block_3_3 img{
	position:absolute;
	left:720px;
	top:470px;

	width:600px;
	height:410px;
	border-radius:15px;	
}
.block_3_3 span[name='about']{
	position:absolute;
	left:900px;
	top:900px;

	width:280px;
	height:100px;
	font-size:20px;
	font-family:'Intro';
	
	z-index:2;
}
.btnAnt {
	position:absolute;
	left:920px;
	top:940px;

	width:150px;
	height:35px;
	
	border:1px solid;
		background: rgba(255, 255, 255, 0.5);

	width:200px;
	height:40px;
	z-index:5;
}
/*----------------------------------------------------------------------------------------------------------*/






/*-------------------------------------   5 ЧАСТЬ / Витрина ----------------------------------------------------*/

.kontainer_4{
	display:flex;
}

.element_4{  /*холст*/
	position:absolute;
	left:0px;
	top:5200px;

	width:99.6%;
	height:710px;
	z-index:1;
}

/*----------------------------------------------------------------------------------------------------------*/
















/*-------------------------------------   6 ЧАСТЬ (регистрация и контакты)----------------------------------------------------*/

.Konteiner_6{
	display:flex;
}

.block_6{  /*холст*/
	position:absolute;
	left:0px;
	top:5900px;

	width:100%;
	height:340px;
	z-index:1;
	background-color:#708090;
}





















