/*----------------------------------------- 4 ЧАСТЬ / ВИТРИНА ----------------------------------------------------------*/


.text_5{
	top:20px;
}


.block_4_1, .block_4_3, .block_4_5, .block_4_7{
	position:absolute;
	top:100px;
	
	width:350px;
	height:450px;
	z-index:1;
}
.block_4_2, .block_4_4, .block_4_6, .block_4_8{
	position:absolute;
	top:550px;
	border:1px solid;

	width:288px;
	height:20px;
	z-index:1;
	font-size:20px;
	font-weight:bold;
	padding:30px;
}
.strel img {
	position:absolute;
	top:560px;
	z-index:20;	
}

#st1 {
	left:160px;
}
#st2 {
	left:550px;
}
#st3 {
	left:930px;
}
#st4 {
	left:1310px;
}


.bGr{
	position:absolute;
	left:5px;
	top:300px;
	height:350px;
	width:1510px;
background-image:linear-gradient(35deg, #ADFF2F,#00FFFF);
}




.block_4_1{
	left:20px;
}
.block_4_2{
	left:20px;
}
.block_4_3{
	left:390px;
}
.block_4_4{
	left:390px;
}
.block_4_5{
	left:760px;
}
.block_4_6{
	left:760px;
}
.block_4_7{
	left:1130px;
}
.block_4_8{
	left:1130px;
}




/*----------------------------------------------------------------------------------------------------------*/

