@media(max-width:1400px){
    p[name="content_1_text"]{
        left:51%;
        font-size:26px;
        width:45%;
    }
}


/*------------------------------------------------------------------------- 1230 ------*/
@media(max-width:1230px){
    .block_2_1 img{
        left:40px;
    }
    .block_2_2{ /*текст: Гуччо родился  */
        left:28%; 
        height:95px;
    }
    .block_2_6{ /*текст: В 1938 году Гуччи */
        left:57%;
    }
    .block_2_7 img{
        left:74%;
    }
}



/*------------------------------------------------------------------------- 1200 ------*/
@media(max-width:1200px){
    p[name="content_1_text"]{
        left:45%;
        width:50%;
    }
}



/*------------------------------------------------------------------------- 1110 ------*/
@media(max-width:1110px){
p[name="content_1_text"]{
    left:39%;
    width:55%;
}
.history{
    display: none;        
}
}


/*---------------------------------------------------------------------- 1055 / Точка перехода-1 --------*/
@media(max-width:1055px){
.block_2_2{ /*текст: Гуччо родился  */
    font-size: 15px;
    width:55%;
	height:90px;
    left:34%;
}
.block_2_3 img{
        left:70%;
        top:360px;
    }
p[name="content_1_text"]{
        left:40%;
        width:60%;
    }
.block_2_4{  /*текст: Он вернулся   */
        top:390px;
        left:43%;
        width:25%;
        font-size: 15px;
        height:130px;
}
.block_2_6{ /*текст: В 1938 году Гуччи */
    top: 620px;
    left:29%;
    width:25%;
    font-size: 15px;
    height:180px;
    }
.block_2_7 img{
        top: 600px;
        left:2%;
}

.block_2_5 img{
        left:59%;
        top:770px;
        width:40%;
        height:290px;
    }

.block_2_5_1{ /*текст: Его сыновья Васко  */
        position:absolute;
        left:55%;
        top:1060px;
        width:40%;
        height:110px;
        font-size: 15px;
    }
.text_3_1{
        top:1300px;
        left:43%;
    }
    #gagaHis{
        position: relative;
        top: 0px;
        height:700px;
    }
p[name="content_1_text"]{
    top: -200px;
    left:33%;
    }
#markHis {
    position: relative;
    top: -150px;
}

.Block_6_Footer{
    top: 50px;
}
}




/*----------------------------------------------------------------------------------- 970 ------*/
@media(max-width:970px){
#btn_menu{
    display: block;
}
.Main_list, .btn_2 {
display:none;
}

.poiskovik input{
    left:25%;
    top:55px;
    height:35px;
    width:45%;
}
.text_1{ /*gucci*/
    font-size: 40px;
    top: 5px;
}
p[name="content_1_text"]{
    width:62%;
}
}




/*------------------------------------------------------------------- 890 / Точка перехода-2 --------*/
@media(max-width:890px){
.block_2_2{ /*текст: Гуччо родился  */
        width:50%;
        left:39%;
        height: 100px;
    }
.block_2_4{  /*текст: Он вернулся   */
    left:40%;
}
.block_2_3 img{
    left:66%;
}
.block_2_6{ /*текст: В 1938 году Гуччи */
    top: 590px;
    left:30%;
    width:25%;
    font-size: 15px;
    height:180px;
    }
.block_2_7 img{
    top: 570px;
    left:4%;
}
.text_3_1{
    top:1300px;
    left:40%;
    font-size: 35px;
}

p[name="content_1_text"]{
    left:33%;
    font-size: 23px;
}
  
}

/*------------------------------------------------------------------------- 800 ------*/
@media(max-width:800px){
    .poiskovik input{
        top:25px;
    }
}



/*--------------------------------------------------------------------------- 750 / ТОЧКА ПЕРЕХОДА -3 --------*/
@media(max-width:750px){
.block_2_2{ /*текст: Гуччо родился  */
    top: 250px;
    width:35%;
    left:50%;
    height: 200px;
    border-bottom: none;
    border-right: 5px solid red;
}
.block_2_4{  /*текст: Он вернулся   */
    top: 950px;
    left:51%;
    width:35%;
}.block_2_3 img{
    top: 550px;
    left:48%;
    width: 45%;

}
.block_2_6{ /*текст: В 1938 году Гуччи */
    top: 950px;
    left:6%;
    width:35%;
    font-size: 15px;
    height:170px;
}
.block_2_7 img{ /*foto lab*/
    top: 550px;
    left:7%;
    width: 35%;
}
.text_3{
    left:31%;
    font-size: 35px;
}
.block_2_1 img{
	left:7%;
	top:200px;
    width: 220px;
    height: 220px;
}
.block_text_2{
    top:430px;
	left:12%;
}


.block_2_5 img{
    left:9%;
    top:1170px;
    width:82%;
    height:290px;
}
.block_2_5_1{ /*текст: Его сыновья Васко  */
    left:11%;
    top:1480px;
    width:78%;
    height:100px;
    font-size: 15px;
}

.text_3_1{
    top:1750px;
    left:40%;
    font-size: 35px;
}
#gagaHis{
    position: relative;
    top: 450px;
    height:400px;
}
p[name="content_1_text"]{
	left:20%;
	top:450px;
	border-left:none;
    border-bottom:5px solid red;
	width:450px;
	height:80px;
	font-size:20px;
	color:black;
}
#markHis{
    display: none;
}
#markHis2, .markHis2_text p{
	display: block;
}

.Block_6_Footer{
    top: 0px;
}
}


/*--------------------------------------------------------------------------------- 650 ------*/
@media(max-width:650px){
.block_2_5 img{
    top:1210px;
}
.block_2_5_1{ /*текст: Его сыновья Васко  */
    top:1520px;
}
    .text_3_1{
        left:35%;
        font-size: 30px;

    }
    #markHis2{
        left:34%;
    }
    p[name="content_1_text"]{
        left:15%;
        font-size:18px;
        width:400px;
    }
}



/*--------------------------------------------------------------------------------- 590 ------*/
@media(max-width:590px){
    .block_2_5 img{
        top:1230px;
    }
    .block_2_5_1{ /*текст: Его сыновья Васко  */
        top:1540px;
    }
    .text_3_1{
        left:30%;
    }
    p[name="content_1_text"]{
        left:10%;
    }
    #markHis2{
        left:30%;
    }
    .markHis2_text p {
        height: 140px;
    }
}



