.text_4dop{
	position:absolute;
	left:35%;
	top:130px;	
	width:600px;
	height:100px;
	font-size:30px;
	font-family:'Intro';
}



#sumAnt2{
	display: none;
	position:absolute;
	top:70px;
	left:5%;
	width:48%;
	height:600px;
}

#sumAnt{
	display: block;
	position:absolute;
	top:110px;
	left:8%;
	width:40%;
	height:500px;
}
.ANTprev{
	display:none;	
	position:absolute;
	left:10%;
	top:300px;
	font-size:60px;
	font-weight:bold;
	cursor:pointer;
}
.ANTnext{
	position:absolute;
	left:45%;
	top:300px;
	font-size:60px;
	font-weight:bold;
	cursor:pointer;
}

.block_3_4dop{/*------------------- Сумка Таб -----------*/
	position:absolute;
	left:50%;
	top:200px;
	width:40%;
	height:300px;
	border-bottom:2px solid;
	background: rgba(255,255,255,0.3);
}
.panel{
	border-bottom:1px solid;
	padding:3px;
	background: rgba(255,255,255,0.7);
	font-size:18px;
}
.panel label[name="xc"]{
	padding-left:10px;
	border-left:2px solid;
}
#inp_click_1:checked ~ .xblock1{
	display:block;
}
#inp_click_2:checked ~ .xblock2{
	display:block;
}

.xblock1, .xblock2, .inp1, .inp2 {
	display:none;
	padding:13px;
	font-size:20px;
}
.xblock1 {
	font-family:'beer money';
}


.btn_44 { /*----- кнопка "купить" ------------*/
	position:absolute;
	left:31%;
	top:650px;
	width:200px;
	height:50px;
	border-radius:25px;
	border:none;
	box-shadow: 3px 3px 5px gray;
	background-color:white;
}

